body{
	font-family: arial;
	background-image: url("../images/background.jpg");
}

/*--------------------*/
/*					  */
/*	 Obi's Movements  */
/*					  */
/*--------------------*/

#obiWan{
	position:absolute;
	top:85px;
	left:24px;
	
	border:2px solid green;
}

#moveObi{
	position:absolute;
	top: 402px;
	left: 24px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#obiDef{
	position:absolute;
	top:85px;
	left: 400px;
	border:2px solid green;
	background-color:black;
	color:white;
}


/*--------------------*/
/*					  */
/*	Luke's Movements  */
/*					  */
/*--------------------*/

#luke{
	position:absolute;
	top:85px;
	left:252px;
	border:2px solid green;
}

#moveLuke{
	position:absolute;
	top: 402px;
	left: 24px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#moveLuke2{
	position:absolute;
	top:85px;
	left:24px;
	border:2px solid green;
}

#moveLuke3{
	position:absolute;
	top: 402px;
	left: 252px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#lukeDef{
	position:absolute;
	top:85px;
	left: 400px;
	border:2px solid green;
	background-color:black;
	font-color:white;
	color:white;
}

/*--------------------*/
/*					  */
/*Emperor's Movements */
/*					  */
/*--------------------*/

#emperor{
	position:absolute;
	top:85px;
	left:479px;
	border:2px solid green;
}

#moveEmp{
	position:absolute;
	top: 402px;
	left: 252px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#moveEmp2{
	position:absolute;
	top:85px;
	left:24px;
	
	border:2px solid green;

}

#moveEmp3{
	position:absolute;
	top: 402px;
	left: 479px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#moveEmp4{
	position: absolute;
	top: 402px;
	left: 24px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#empDef{

	position:absolute;
	top:85px;
	left: 400px;
	border:2px solid green;
	background-color:black;
	font-color:white;
	color:white;

}

/*--------------------*/
/*					  */
/*	Maul's Movements  */
/*					  */
/*--------------------*/

#maul{
	position:absolute;
	top:85px;
	left:706px;
	border:2px solid green;
}

#moveMaul{
	position:absolute;
	top: 402px;
	left: 479px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#moveMaul2{
	position:absolute;
	top:85px;
	left:24px;
	
	border:2px solid green;
}

#moveMaul3{
	position:absolute;
	top: 402px;
	left: 252px;
	border-width: 2px;
	border-color: black;
	background-color:red;

}

#moveMaul4{
	position:absolute;
	top: 402px;
	left: 24px;
	border-width: 2px;
	border-color: black;
	background-color:red;
}

#maulDef{

	position:absolute;
	top:85px;
	left: 400px;
	border:2px solid green;
	background-color:black;
	font-color:white;
	color:white;
}


/*--------------------*/
/*					  */
/*	Rearange Classes  */
/*					  */
/*--------------------*/

.yourChar{
	position: absolute;
    top: 343px;
    left:24px;
}

.yourChar2{
	position: absolute;
    top: 38px;
    left:24px;
}

.enemies{
	position: absolute;
    top: 475px;
    left:24px;
}

.fightSection{
	position: absolute;
    top: 500px;
    left:24px;
}

.attack{
	position: absolute;
    top: 560px;
    right:1350px;
    left:24px;
    border:2px solid black;
}

.defender{
	position: absolute;
    top: 620px;
    left:24px;
}

.fightSection2{
	position: absolute;
    top: 663px;
    left: 24px;
}

.attack2{
	position: absolute;
    top: 295px;
    right: 1418px;
    left: 275px;
    border:2px solid black;
}

.defender2{
	position: absolute;
   	top: 38px;
    left: 400px;
}

.title{
	position: absolute;
    right: 10%;
    font-size: larger;
}

.enemies2{
	position: absolute;
    top: 350px;
    left:24px;
}

#message1{
	position: absolute;
    top: 128px;
    left: 626px;
 
}

#message2{
	position: absolute;
    top: 155px;
    left: 626px;
	
}

.restart{
	position: absolute;
    top: 295px;
    right: 1394px;
    left: 730px;
    border: 2px solid black;
    color: black;
    
}

